body {
    width: 100%;
    height: auto;
    position: relative;
    background: url("../images/luxurypool.jpg") no-repeat center center fixed;
    background-size: cover;
}

/*Top Navigation Bar*/
.navbar-short {
    position: relative;
    top: 0;
}

.navbar-short ul {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.navbar-short li {
    display: inline-block;
}

/* .navbar-short img {
    margin-top: -50px;
    height: 150px;
    width: 150px;
} */
.logo-container {
    position: relative;
}
.logo-container a {
    left: 250px;
    position: absolute;
    top: 50px;
}

.logo-image {
    position: absolute;
    top: -48px;
    left: 40px;
    height: 200px;
    width: 200px;
    background-image: url(../images/lbblogo.png);
    background-size: cover;
}

.btn-menu-short {
    text-decoration: none;
    color: whitesmoke;
}

.btn-menu-short:hover {
    text-decoration: none;
    color: whitesmoke;
    border-bottom: 3px solid #215836;
}

/*Bottom Navigation Bar*/
.bot-navbar a {
    position: fixed;
    bottom: -30px;
}

.bot-navbar a {
    padding-top: 40px;
}

.bot-navbar a:hover {
    bottom: 0;
}

.cabins{
    width: 20%;
    left: 0;
    text-align: center;
    display: inline-block;
    padding-top: 5px;    
    background: url("../images/wood.jpg") no-repeat;
}

.mansions{
    width: 20%;
    left: 20%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    background: url("../images/marbel.jpg") no-repeat;
}

.penthouse{
    width: 20%;
    left: 40%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    background: url("../images/pentfloor1.jpg") no-repeat;
}

.unique{
    width: 20%;
    left: 60%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;    
    background: url("../images/unique.jpg") no-repeat;
}


.viewall{
    width: 20%;
    left: 80%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    background: url("") no-repeat;
}
